@{
    ViewBag.Title = "Home Page";
}

<div style="padding: 50px 50px 20px;" class="jumbotron">
	<form class="form-horizontal" role="form" action="~/Spider/Index" method="post">
		<div class="form-group">
			<label class="col-lg-3 control-label col-lg-offset-1">Search</label>
			<div class="col-lg-4 input-group">
				<input id="keywork" type="text" class="form-control" placeholder="请输入关键字" name="keywork">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit">搜索</button>
				</span>
			</div>
			<div>
				<label class="radio-inline btn-lg">
					<input type="radio" name="Radios" id="optionsRadios1" value="1" checked>京东
				</label>
				<label class="radio-inline btn-lg">
					<input type="radio" name="Radios" id="optionsRadios2" value="2">苏宁
				</label>
			</div>
		</div>
	</form>
</div>